[submodule "g9"]
	path = g9
	url = https://github.com/mdecd2024/2b-midbg9
[submodule "g6"]
	path = g6
	url = https://github.com/mdecd2024/2b-midbg6.git
[submodule "g5"]
	path = g5
	url = https://github.com/mdecd2024/2b-midbg5
[submodule "g2"]
	path = g2
	url = https://github.com/mdecd2024/2b-midbg2
[submodule "g8"]
	path = g8
	url = https://github.com/mdecd2024/2b-midbg8
